<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>자재 주문 조회</title>
  <link rel="stylesheet" href="/css/inventory.css">
</head>
<body>
<header th:insert="fragments/header.html"></header>


   <!-- 컨텐츠 영역 -->
   <div class="content">
     <h2 class="title">자재 주문 조회</h2>
    <div class="search">
      <!-- 드롭다운 메뉴 -->
      <select id="dropdown">
        <option value="option1">id</option>
        <option value="option2">자재회사</option>
        <option value="option3">제품</option>
        <option value="option4">발주일</option>
      </select>
  
      <!-- 검색창 -->
      <input type="text" id="search" placeholder="검색어를 입력하세요">
  
      <!-- 검색 버튼 -->
      <button onclick="search()">검색</button>
    </div>

    <table id="myTable">
      <tr >
        <th>자재회사</th>
        <th>제품</th>
        <th>수량</th>
        <th>발주일</th>
        <th>입고일</th>
      </tr>
      <tr>
        <td>에이농장</td>
        <td>양배추</td>
        <td>1ton</td>
        <td>2023-05-15</td>
        <td>2023-05-18</td>
      </tr>
    </table> 
 
  <script src="/js/inventory.js"></script>
</body>
</html>