/* process css*/
#myTable3 {
  border-collapse: collapse;
  width: 100%;
  height: 100px;
}

#myTable3 th, #myTable3 td {
  border: 1px solid black;
  padding: 16px;
  text-align: center;
  vertical-align: center;
}

#myTable3 th {
  background-color: lightgray;
}

.title {
  text-align: center;
}
/*=================================================================*/
.search {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
} 
.title {
  margin-right: 10px;
}
.search-input {
  width: 200px;
}


/*=================================================================*/

.myTable {
  margin-top: 15%;
  }
  .title {
    margin-right: 10px;
  }
  .search-input {
    width: 200px;
  }
  